body {
    font-family: Quicksand, sans-serif;
    font-size: 18pt;
    margin: 8px 260px !important;
    padding: 0px 20px;
    border-left: 1px dashed rgb(71, 71, 71);
    border-right: 1px dashed rgb(71, 71, 71);
}

.nav-bar {
    font-weight: bold;
    font-size: 18pt;
}

    .nav-bar::after {
        content: "";
        clear: both;
        display: table;
    }

.nav-img {
    float: left;
    width: 30%;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100%  {opacity: 1;}
}

.nav-menu {
    float: left;
    width: 70%;
}

.nav-menu ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0;
}
  
.nav-menu li {
    font-weight: bold;
    display: inline-block;
    width: 140px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    /* border-bottom: 2px solid rgb(255, 170, 43); */
    margin: 5px 10px;
}
  
.nav-menu a {
    color: rgb(71, 71, 71);
}
  
    .nav-menu a:hover {
        color: rgb(177, 177, 177);
        text-decoration: underline;
    }

#active {
    color: rgb(255, 170, 43);
}

#title {
    margin: 2px 0px;
    color: white;
    background-color: rgb(71, 71, 71);
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 20pt;
}

#form {
    margin: 5px 0px;
    font-size: 13pt;
}

label {
    float: left;
    padding: 2px 22px;
}

.required {
    float: right;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(255, 170, 43);
    padding-right: 28px;
    padding-top: 5px;
}

.inp {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12pt;
    font-family: Quicksand, sans-serif !important;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid rgba(71, 71, 71, 0.5);
}

#sub {
    margin-bottom: 5px;
    width: 30%;
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

#sub:hover {
    background-color: rgb(71, 71, 71);
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
}

#footer {
    margin: 2px 0px;
    text-align: center;
    font-size: 11pt;
    color: white;
    background-color: rgb(71, 71, 71);
    height: 25px;
    line-height: 25px;
}